
/* -------------------- */
/* ------- body ------- */
/* -------------------- */

body {
    display: flex;
    flex-direction: column;
}

/* ---------------------- */
/* ------- header ------- */
/* ---------------------- */
.contenedor-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*border: 1px solid rgb(139, 3, 250);*/
}

.logo {
    display: flex;
    width: 15%;
    align-items: center;
    margin-top: -1%;
    margin-left: 1%;
    /*border: 1px solid rgb(139, 3, 250);*/
}

.logo img {
    width: 100%;
}

.titulo {
    margin-right: 35%;
    font-size: 1.5vw;
    /*border: 1px solid rgb(139, 3, 250);*/
}

/* ------------------- */
/* ------- nav ------- */
/* ------------------- */

nav {
    width: 100%;
    background-color:rgb(26, 196, 253);
    font-size: 1.3vw;

}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: black;
}

nav ul {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
}

/* ------- contenedor central ------- */

.contenedor-central {
    width: 100%;
    height: auto;
    margin-bottom: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
}

/* ----------------------- */
/* ------- section ------- */
/* ----------------------- */

section {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

section ul {
    color: black;
}

#tabla-jefatura{
    width: 40%;
    margin-top: 3%;
    margin-left: 15%;
    text-align: center;
    font-size: 1.2vw;
    border-collapse: collapse;
}

table th{
    background-color:rgb(26, 196, 253);
}

#tabla-profesorado {
    width: 40%;
    margin-left: 15%;
    text-align: center;
    font-size: 1.2vw;
    border-collapse: collapse;
}

#tabla-ciclos {
    width: 70%;
    margin-left: 15%;
    text-align: center;
    font-size: 1.2vw;
    border-collapse: collapse;
}

th, td{
    padding-left: 1%;
    padding-right: 1%;
}

/* --------------------- */
/* ------- aside ------- */
/* --------------------- */

aside {
    width: 30%;
    margin-top: 2%;
    display: flex;
    justify-content:center;
    flex-direction: column;
}

/* ------- formulario ------- */
aside form {
    width: 60%;
    padding: 5%;
    font-size: 1vw;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-color:rgb(26, 196, 253);
}

aside form h2{
    font-size: 1.3vw;
    margin-left: 12%;
}

aside form input{
    width: 100%;
    font-size: .75vw;
}

aside form select{
    width: 100%;
    font-size: .75vw;
}

aside form textarea{
    width: 100%;
}

.botones-form{
    display: flex;
    padding: 4%;
    justify-content:space-around;
    text-align: center;
}

.botones-form button{
    width: 45%;
    font-size: .75vw;
    padding: 2%;
    
}

.botones-form button:hover{
    color: white;
    background-color: rgb(139, 3, 250);
}

/* ---------------------- */
/* ------- footer ------- */
/* ---------------------- */

footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1vw;
    background-color:rgb(26, 196, 253);
    color: white;
}

#datos-contacto{
    width: 38%;
    margin-left: 1%;
    font-size: 0.70vw;
}


.copyrigth{
    width: 57%;
    display: flex;
    align-items: center
}







